.menu li{
    float: left;
    background-color: rgb(119,233,100);
    width: 150px;
    height: 50px;
    list-style: none;
    line-height: 50px;
    position: relative;
    text-indent: 15px;
}
li a{
    text-decoration: none;
}
.menu li:hover{
    background-color: pink;
}
li:hover>a{
    color: aqua;
    font-weight:bold;
}
.menu li .sub-menu{
    display: none;
    position: absolute;
}
.menu li:hover>.sub-menu{
    display: block;
}
.menu li .sub-menu li:hover>.sub-menu{
    top: 0px;
    left: 150px;
}